* {
  margin: 0;
  padding: 0;
}

body {
  padding: 100px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

#root {
  width: 800px;
}

.ant-radio-button-wrapper {
  border-radius: 8px;
  border-inline-start-width: 1px !important;
}

.ant-radio-button-wrapper::before {
  content: none !important;
}

.flex-center {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}